# Regular Expression

Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a
colon.

In [1]:
import pandas as pd
import re
import regex as re

Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a
colon.

In [2]:
sample_Text='Python Excercises, PHP excercises'
result=re.sub(r'[,\s]',':',sample_Text)
print(result)

Python:Excercises::PHP:excercises

Question 2- Create a dataframe using the dictionary below and remove everything (commas (,), !,
XXXX, ;, etc.) from the columns except words.

In [3]:
dictionary={'SUMMARY':['hello, world!','XXXXX test','123four, five:; six...']}
dict_new={}
dict_new['SUMMARY'] = [re.sub(r'[,!X;.:\d]', "", new_text) for new_text in dictionary['SUMMARY']]
print(dict_new)
pd.DataFrame(dict_new)

{'SUMMARY': ['hello world', ' test', 'four five six']}

         SUMMARY
0    hello world
1           test
2  four five six

Question 3- Create a function in python to find all words that are at least 4 characters long in a
string. The use of the re.compile() method is mandatory.

In [4]:
target_str="Manu went to fruit's vendor shop to buy 1kg Apple,2kg pear,5kg water melon."
pattern=re.compile(r'\w{4}+')
# find all 4 characters word 
for i in pattern.finditer(target_str):
    print(i)
    print('-'*60)

<regex.Match object; span=(0, 4), match='Manu'>
------------------------------------------------------------
<regex.Match object; span=(5, 9), match='went'>
------------------------------------------------------------
<regex.Match object; span=(13, 17), match='frui'>
------------------------------------------------------------
<regex.Match object; span=(21, 25), match='vend'>
------------------------------------------------------------
<regex.Match object; span=(28, 32), match='shop'>
------------------------------------------------------------
<regex.Match object; span=(44, 48), match='Appl'>
------------------------------------------------------------
<regex.Match object; span=(54, 58), match='pear'>
------------------------------------------------------------
<regex.Match object; span=(63, 67), match='wate'>
------------------------------------------------------------
<regex.Match object; span=(69, 73), match='melo'>
------------------------------------------------------------

Question 4- Create a function in python to find all three, four, and five character words in a string.
The use of the re.compile() method is mandatory.

In [5]:
target_str="Manu went to fruit's vendor shop to buy 1kg Apple,2kg pear,5kg water melon."
pattern=re.compile(r'\w{3,5}+')
# find all 4 characters word 
for i in pattern.finditer(target_str):
    print(i)
    print('-'*60)

<regex.Match object; span=(0, 4), match='Manu'>
------------------------------------------------------------
<regex.Match object; span=(5, 9), match='went'>
------------------------------------------------------------
<regex.Match object; span=(13, 18), match='fruit'>
------------------------------------------------------------
<regex.Match object; span=(21, 26), match='vendo'>
------------------------------------------------------------
<regex.Match object; span=(28, 32), match='shop'>
------------------------------------------------------------
<regex.Match object; span=(36, 39), match='buy'>
------------------------------------------------------------
<regex.Match object; span=(40, 43), match='1kg'>
------------------------------------------------------------
<regex.Match object; span=(44, 49), match='Apple'>
------------------------------------------------------------
<regex.Match object; span=(50, 53), match='2kg'>
------------------------------------------------------------
<regex.Match object; span=(54, 58), match='pear'>
------------------------------------------------------------
<regex.Match object; span=(59, 62), match='5kg'>
------------------------------------------------------------
<regex.Match object; span=(63, 68), match='water'>
------------------------------------------------------------
<regex.Match object; span=(69, 74), match='melon'>
------------------------------------------------------------

Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the
re.compile() method is mandatory.

In [6]:
pattern= re.compile(r'[()]') # parenthesis remove

#using sub method to remove 
Sample_Text= ["example (.com)", "hr@fliprobo (.com)", "github (.com)","Hello (Data Science World)",
"Data (Scientist)"]
result = [pattern.sub("", text) for text in Sample_Text]
print(result)
pd.DataFrame(result)

['example .com', 'hr@fliprobo .com', 'github .com', 'Hello Data Science World', 'Data Scientist']

                          0
0              example .com
1          hr@fliprobo .com
2               github .com
3  Hello Data Science World
4            Data Scientist

Question 6- Write a python program to remove the parenthesis area from the text stored in the text
file using Regular Expression.

In [7]:
Sample_Text= ["example (.com)", "hr@fliprobo (.com)", "github (.com)","Hello (Data Science World)",
"Data (Scientist)"]
for text in Sample_Text:
    print(re.sub(r" ?\([^)]*\)", "", text))

example
hr@fliprobo
github
Hello
Data

Question 7- Write a regular expression in Python to split a string into uppercase letters.

In [8]:
sample_text="ImportanceOfRegularExpressionsInPython"
pattern=re.split(r'(?=[A-Z])',sample_text,6)
print(pattern)

['', 'Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

Question 8- Create a function in python to insert spaces between words starting with numbers.

In [9]:
def spaces(string):
    pattern= r'(\d+)([A-Za-z]+)'
    result=re.sub(pattern,r'\1 \2',string)
    return result
string="RegularExpression1IsAn2ImportantTopic3InPython"
x= spaces(string)
print(x)

RegularExpression1 IsAn2 ImportantTopic3 InPython

Question 9- Create a function in python to insert spaces between words starting with capital letters
or with numbers.

In [10]:
def words(string):
    return re.sub(r'(\w)([A-Z]+)',r'\1 \2',string)
string="RegularExpression1IsAn2ImportantTopic3InPython"
x=words(string)
print(x)

Regular Expression1 Is An2 Important Topic3 In Python

Question 10- Use the github link below to read the data and create a dataframe. After creating the
dataframe extract the first 6 letters of each country and store in the dataframe under a new column
called first_five_letters.

In [11]:
# reading the data and creating the DataFrame
import pandas as pd
data=pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')
pd.DataFrame(data)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [12]:
# extracting the 1st 6 letters of country column by using applying and lambda function
data['first_five_letters'] = data['Country'].apply(lambda x: x[0:6])
data.head(20)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
5,Finland,Western Europe,6,7.406,0.03140,1.29025,1.31826,0.88911,0.64169,0.41372,0.23351,2.61955,Finlan
6,Netherlands,Western Europe,7,7.378,0.02799,1.32944,1.28017,0.89284,0.61576,0.31814,0.47610,2.46570,Nether
7,Sweden,Western Europe,8,7.364,0.03157,1.33171,1.28907,0.91087,0.65980,0.43844,0.36262,2.37119,Sweden
8,New Zealand,Australia and New Zealand,9,7.286,0.03371,1.25018,1.31967,0.90837,0.63938,0.42922,0.47501,2.26425,New Ze
9,Australia,Australia and New Zealand,10,7.284,0.04083,1.33358,1.30923,0.93156,0.65124,0.35637,0.43562,2.26646,Austra
10,Israel,Middle East and Northern Africa,11,7.278,0.03470,1.22857,1.22393,0.91387,0.41319,0.07785,0.33172,3.08854,Israel
11,Costa Rica,Latin America and Caribbean,12,7.226,0.04454,0.95578,1.23788,0.86027,0.63376,0.10583,0.25497,3.17728,Costa
12,Austria,Western Europe,13,7.200,0.03751,1.33723,1.29704,0.89042,0.62433,0.18676,0.33088,2.53320,Austri
13,Mexico,Latin America and Caribbean,14,7.187,0.04176,1.02054,0.91451,0.81444,0.48181,0.21312,0.14074,3.60214,Mexico
14,United States,North America,15,7.119,0.03839,1.39451,1.24711,0.86179,0.54604,0.15890,0.40105,2.51011,United
15,Brazil,Latin America and Caribbean,16,6.983,0.04076,0.98124,1.23287,0.69702,0.49049,0.17521,0.14574,3.26001,Brazil
16,Luxembourg,Western Europe,17,6.946,0.03499,1.56391,1.21963,0.91894,0.61583,0.37798,0.28034,1.96961,Luxemb
17,Ireland,Western Europe,18,6.940,0.03676,1.33596,1.36948,0.89533,0.61777,0.28703,0.45901,1.97570,Irelan
18,Belgium,Western Europe,19,6.937,0.03595,1.30782,1.28566,0.89667,0.58450,0.22540,0.22250,2.41484,Belgiu
19,United Arab Emirates,Middle East and Northern Africa,20,6.901,0.03729,1.42727,1.12575,0.80925,0.64157,0.38583,0.26428,2.24743,United

Question 11- Write a Python program to match a string that contains only upper and lowercase
letters, numbers, and underscores.

In [99]:
def match(text):
    pattern=r'^[a-zA-Z0-9_]+$'
    if re.match(pattern,text):
        print('correct!')
    else:
            print('incorrect')
match ('Narender_modi2014')

correct!

Question 12- Write a Python program where a string will start with a specific number.

In [14]:
def specific_num(string,number):
    if string.startswith(str(number)):
        return True
    else:
        return False
string='10.5 is the specific number '    
number=10.5
if specific_num(string,number):
    print("match!")
else:
    if specific_num(string,number):
        print("no match!")

match!

Question 13- Write a Python program to remove leading zeros from an IP address

In [15]:
def ip_add(ip_address):
    leading_zero_ip='.'.join([str(int(i))for i in ip_address.split('.')])
    return leading_zero_ip
print(ip_add("243.001.230.002"))

243.1.230.2

Question 14- Write a regular expression in python to match a date string in the form of Month name
followed by day number and year stored in a text file.

In [16]:
text_file = "On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country."

pattern = r"\b([A-Z][a-z]+ \d{1,2}(?:st|nd|rd|th)? \d{4})\b"

matches = re.findall(pattern, text_file)
print(matches)

['August 15th 1947']

Question 15- Write a Python program to search some literals strings in a string.

In [17]:
def search(text, literals):
    results = {}
    for literal in literals:
        results[literal] = literal in text
    return results


text = "The quick brown fox jumps over the lazy dog."
literals = ["horse", "fox", "dog"]

results = search(text, literals)
print(results)

{'horse': False, 'fox': True, 'dog': True}

Question 16- Write a Python program to search a literals string in a string and also find the location
within the original string where the pattern occurs

In [97]:
pattern = 'fox'
text = 'The quick brown fox jumps over the lazy dog.'
match = re.search(pattern, text)
x = match.start()
y = match.end()
print('Found "%s" in "%s" from %d to %d ' % \
(match.re.pattern, match.string, x, y))

Found "fox" in "The quick brown fox jumps over the lazy dog." from 16 to 19

Question 17- Write a Python program to find the substrings within a string.

In [ ]:
pattern = 'exercises'
text = "Python exercises, PHP exercises, C# exercises"
for match in re.findall(pattern, text):
    print('Found "%s"' % match)

Question 18- Write a Python program to find the occurrence and position of the substrings within a
string.

In [ ]:
text="muscel building, construct building, reation building"
pattern='building'
for match in re.finditer(pattern,text):
    s=match.start()
    e=match.end()
    print('Found "%s" at %d:%d' % (text[s:e],s, e))

Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy
format.

In [ ]:
def date(formats):
    return re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})','\\3-\\2-\\1',formats)
formats1='2002-09-06'
formats2='2007-07-09'
print('Formated Date(dd-mm-yyyy)- ',date(formats1))
print('Formated Date(dd-mm-yyyy)- ',date(formats2))

Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a
string. The use of the re.compile() method is mandatory.

In [ ]:
Sample_Text= "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
def decimal(number):
    deci_num=re.compile(r"\b([0-9]+\.[0-9]{1,2})\b")
    result=deci_num.findall(Sample_Text)
    print(result)
print(decimal(Sample_Text))

Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [19]:
text="ravi bougth a tv at ₹25000 but the initial price of the tv was ₹30000."

for num in re.finditer("\d+",text):
    print(num.group(0))
    print('number position:',num.start())

25000
number position: 21
30000
number position: 64

Question 22- Write a regular expression in python program to extract maximum/largest numeric
value from a string.

In [22]:
sample_text="My marks in each semester are: 947, 896, 926, 524, 734, 950, 642"
numbers=re.findall('\d+',sample_text)
print(numbers)

numbers=map (int,numbers)
print("output :",max(numbers))

['947', '896', '926', '524', '734', '950', '642']
output : 950

Question 23- Create a function in python to insert spaces between words starting with capital
letters.

In [24]:
def gap(spaces):
    pattern=r'([A-Z]+)'
    result=re.sub(pattern,r' \1',spaces)
    return result
spaces="“RegularExpressionIsAnImportantTopicInPython"
output=gap(spaces)
print(output)

“ Regular Expression Is An Important Topic In Python

Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [68]:
def upper(lower):
    pattern = '[A-Z][a-z]*$'
    if re.search(pattern, lower):
        return ('Correct')
    else:
        return ('Incorrect')

print(upper('RegularExpression'))
print(upper('Yours welcome'))

Correct
Incorrect

Question 25- Write a Python program to remove continuous duplicate words from Sentence using
Regular Expression.

In [70]:
sample_text="Hello hello world world"
pattern=r'\b(\w+)(?:\W+\1\b)+'
output=re.sub(pattern,r'\1',sample_text)
print(output)

Hello hello world

Question 26- Write a python program using RegEx to accept string ending with alphanumeric
character.

In [85]:
def regex(string):
    pattern=r'[A-Za-z0-9]$'
    if re.search(pattern,string):
        print("This is alphanumeric character")
    else:
        print("this is not a alphanumeric character")
regex('Helloworld123')

This is alphanumeric character

Question 27-Write a python program using RegEx to extract the hashtags.

In [91]:
sample_text="""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by 
#Demonetization as the samehas rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
pattern=r"#\w+"
result=re.findall(pattern,sample_text)
print('full_text:\n',sample_text)
print('-'*50)
print('Hastags_words:\n',result)

full_text:
 RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by
#Demonetization as the samehas rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo
--------------------------------------------------
Hastags_words:
 ['#Doltiwal', '#xyzabc', '#Demonetization']

Question 28- Write a python program using RegEx to remove &lt;U+..&gt; like symbols

In [94]:
text= "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders"
pattern=r'<U\+[A-Z0-9]+>'
result=re.sub(pattern,'',text)
print(result)

@Jags123456 Bharat band on 28??<ed><ed>Those who are protesting #demonetization are all different party leaders

Question 29- Write a python program to extract dates from the text stored in the text file.

In [102]:
file="Ron was born on 12-09-1992 and he was admitted to school 15-12-1999."
pattern=r'\d{2}-\d{2}-\d{4}'
result=re.findall(pattern,file)
print('Text: \n',file)
print('Date: \n', result)

Text:
 Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
Date:
 ['12-09-1992', '15-12-1999']

Question 30- Create a function in python to remove all words from a string of length between 2 and
4.

In [111]:

def words(remove):
    pattern=r'\b\w{2,4}\b'
    result=re.sub(pattern,'',remove)
    return result
remove= "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
output=words(remove)
print(remove)

print('output:\n',output)

The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly.
output:
  following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.